body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffcf96; /* Optional: set a background color for the body */
}

.sidebar {
  text-align: center;
  background-color: #ffcf96;
  border: 1px solid #ccc; /* Border for the sidebar */
  padding: 20px; /* Optional: Add padding for better visual appearance */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;

  padding: 10px; /* Optional: Add padding for better visual appearance */
}

img {
  border-radius: 50%;
}
.btn {
  margin-top: 20px; /* Adjust the margin to create space between the list and the button */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */

  /* Optional: Add hover styles for better user interaction */
  &:hover {
    background-color: #45a049;
  }
}
