:root {
  --color-primary: #248b4a;
  --color-primary-hover: #196337;
  --color-light: #e4efff;
  --color-dark: #495057;
  --color-lightest: #ffffff;
  --color-medium: #7a8a97;
  --color-accent: #96cdaa;
  --font-primary: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  color: var(--color-dark);
  background-color: var(--color-lightest);
  font-family: var(--font-primary);
}

.interchange,
.form-split-bill,
.grocery-list,
.person-container,
.person-details,
.select {
  text-align: center;
}

.shopping-cart-btn {
  text-align: center;
  margin-top: 10px;
}
.button {
  text-align: align;
  margin-top: 10px;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensure children stretch to fill the height */
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.sidebar {
  width: 300px;
  background-color: var(--color-light);
  box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-light);
  transition: background-color 0.3s;
}

.sidebar li:hover {
  background-color: var(--color-accent);
}

.sidebar li img {
  border-radius: 50%;
  width: 30px;
  height: 10px;
  margin-right: 15px;
}

.sidebar li h3,
.sidebar li p {
  margin: 0;
  color: var(--color-medium);
}

.button {
  padding: 10px 20px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.grocery-list {
  flex: 1;
  background: var(--color-light);
  padding: 20px;
}

.person-container.selected,
.person-container:hover {
  background-color: var(--color-accent);
}

.person-details img {
  margin-bottom: 10px;
}

.select {
  background-color: var(--color-primary);
  border-radius: 4px;
  padding: 6px 12px;
  color: var(--color-lightest);
}

.select:hover {
  background-color: var(--color-primary-hover);
}

@media screen and (max-width: 768px) {
  .app {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 50%;
    margin-bottom: 10px;
  }
}

.fruitQuantity {
  display: flex;
  align-items: center;
  text-align: center;
}
input {
  text-align: center;
}

.button,
.AddToCart {
  background-color: #4caf50; /* Green background */
  border: none; /* No borders */
  color: white; /* White text */
  padding: 15px 32px; /* Padding to make it larger */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Allows setting dimensions */
  font-size: 16px; /* Larger font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
}

.AddToCart:hover {
  background-color: #45a049; /* Darker shade of green on hover */
}
.totalPrice {
  color: #333; /* Dark text color for visibility */
  font-size: 20px; /* Larger font size */
  font-weight: bold; /* Bold font weight */
  padding: 10px; /* Some padding */
  margin-top: 20px; /* Space above the total price text */
  background-color: #f9f9f9; /* Light background */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #ccc; /* Light border */
  display: inline-block; /* Only as wide as necessary */
}
